body {
  background-color: #fff;
  margin: 0 !important;
}

#container {
  widows: 100vw;
}
#nav {
  width: 100%;
  height: 80px;
  border-bottom: 1px solid #dddddd;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#pict {
}
#menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 250px;
}
#logo {
  height: 100%;
  width: 80px;
}
.navElement {
  padding-right: 5px;
  padding-left: 5px;
}
#bPict {
  width: 100%;
  height: 600px 500px;
  background-image: url(plaza.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#bigLogo {
  height: 440px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
#butt {
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#words {
  background-color: black;
  height: 500px;
  width: 100%;
  display: ;
  justify-content: center;
  color: white;
}
#bottomline {
  border-bottom: 1px solid grey;
  margin-left: 20%;
  margin-right: 20%;
}
