body
{background-color: rgb(41, 39, 39);
margin:0 !important;
}


#container
{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 250px;
    padding-right: 250px;


}
#top
{
    background-color:white;
    padding:10px 0;
    text-align: center;
    
    
}
#middle
{
    height:460px;
    background-color: yellow;

}
#secondmiddle
{
    height:550px;
    background-color:black;

}
#bottom
{
    height:290px;
    background-color: yellow;

}
#botside
{
    height:50px;
    background-color: black;

}
#lezkaa
{   
    height: 45px;
    width: 100;

    
}

   
    ol
    {
        padding:0;
        margin:0;
        list-style-type: none;
        font-size: 15px;
        line-height: 200%;
        height: 35px;
        
    }
    ol a
    {
        text-decoration: none;
        display: block;
        float: left;
        width:  80px; 
        border-right: 1px solid WHITE;
        text-align: center;
        color :black;
        


    }
    #gz
    {
        background-image:url(plaza.jpg) ;

    }
    #bg
    {
        background-image:url(łezka.jpg);

    }
   